{% block body %}
	<h2>Detalle</h2> 
	<table id="listadoCreditos" class="table table-striped ">

       <tr>
            <td>Nombre:</td><td>{{ votante.nombre }}</td>
        </tr>
        <tr>
            <td>Apellidos:</td><td>{{ votante.apellidos }}</td>
        </tr>
        <tr>
            <td>Documento:</td><td>{{ votante.documentoIdentidad }}</td>
        </tr>
        <tr>
            <td>Dirección:</td><td>{{ votante.direcccion }}</td>
        </tr>
        <tr>
            <td>Distrito:</td><td>{{ votante.distrito.descripcion }}</td>
        </tr>
        <tr>
            <td>Código postal:</td><td>{{ votante.codigoPostal }}</td>
        </tr>
        <tr>
            <td>Población:</td><td>{{ votante.poblacion }}</td>
        </tr>
        <tr>
            <td>Validada:</td><td>{% if votante.validada %}SI{% else %}NO{% endif %}</td>
        </tr>
        <tr>
            <td>Ha votado:</td><td>{% if votante.votado %}SI{% else %}NO{% endif %}</td>
        </tr>
        <tr>
            <td>Teléfono:</td><td>{{ votante.telefono }}</td>
        </tr>
        <tr>
            <td>Correo:</td><td>{{ votante.correoElectronico }}</td>
        </tr>
        {% if app.session.get('rol') == 50 %}
	        <tr>
	            <td>
					{% if votante.validada and not votante.votado %}
						<a href="{{ path('validar_votante', {'id': votante.id, 'validar': 0}) }}" onclick="return confirm('¿Seguro que quieres marcar la votante {{ votante.nombre }} {{ votante.apellidos }} como NO validada?')">No validar</a>
					{% elseif not votante.validada and not votante.votado %}
						<a href="{{ path('validar_votante', {'id': votante.id, 'validar': 1}) }}" onclick="return confirm('¿Seguro que quieres marcar la votante {{ votante.nombre }} {{ votante.apellidos }} como validada?')">Validar</a>
					{% else %}
						La votante ha votado
					{% endif %}
				</td>
	            <td>
	            	{% if votante.validada and votante.votado %}
						<a href="{{ path('validar_voto', {'id': votante.id, 'validar': 0}) }}" onclick="return confirm('¿Seguro que quieres marcar la votante {{ votante.nombre }} {{ votante.apellidos }} como que NO ha votado?')">Marcar que NO ha votado</a>
					{% elseif votante.validada and not votante.votado %}
						<a href="{{ path('validar_voto', {'id': votante.id, 'validar': 1}) }}" onclick="return confirm('¿Seguro que quieres marcar la votante {{ votante.nombre }} {{ votante.apellidos }} como que ha votado?')">Marcar que ha votado</a>
					{% else %}
						La votante no ha sido validada
					{% endif %}
	            </td>
	        </tr>
		{% endif %}
    </table>
	<div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
    </div>
    
{% endblock %}