{% extends 'AhoraMadridDonacionesBundle::layout.html.twig' %}

{% form_theme form 'AhoraMadridDonacionesBundle::form_theme.html.twig' %}

{% block body %}
<div class="main-container">       
	<div id="formularios">
	    <div class="container">
	    	<!-- doble corchete dump() doble corchete-->
	        <div class="row" style="margin-top: 4% " >                       
	            <div class="col-md-1 col-xs-4">
	            	<div >
	            		<a href="http://participa.ahoramadrid.org/donaciones/"> 
	            			<img src="{{ asset('bundles/ahoramadriddonaciones/images/logo2.png') }}" class="img-responsive" /> </a>
	            	</div>
	            </div>
	            <div class="col-md-9 col-md-offset-1 col-xs-9"> <h3>El objetivo en esta fase de la campaña de recaudación es de <strong>{{ campania.objetivo|number_format(0, ',', '.') }} € </strong> </h3> </div>
	        </div>
	        <div class="row">
	        	<div class="col-md-4 ">
	        		
	        	</div>
	        	<div class="col-md-4 ">
	        		<canvas id="chart1" width="409" height="204" style="width: 409px; height: 204px;"></canvas>
	        	</div>
	        	<div class="col-md-4 ">
	        		<p style="text-align:left; margin-top: 0px; padding-top:0px" id="info-donaciones">
	        			Préstamos totales recibidos: <br/> <strong>{{ totalRecibidos|number_format(0, ',', '.') }} € </strong> 	        			<br/>
						Objetivo de la fase {{ campania.fase }} : {{ campania.objetivo|number_format(0, ',', '.') }} € <br/> 
	        			<small> *transferencias recibidas y aprobadas <br/> 
	        			<small>Las transferencias pueden tardar hasta 2 días en recibirse. Luego son revisadas para comprobar que cumplen con la ley de financiación. Por eso hay un retraso desde que se hace la transferencia hasta que aparece reflejada. </small> </small>
	        		</p>
	        	</div>
	        </div>
	        <div class="row">                    	
	            	<div class="col-md-12 ">
	            		<h2> ¿Cuánto quieres donar? </h2> <small> * El límite legal es de 10.000€ entre todas tus aportaciones. Si superas este límite no podemos aceptar la transferencia.
						    	</small> 
	            			{{ form_start(form, {'attr': {'role': 'form', 'id': 'form0'}}) }}
						    {{ form_errors(form) }}
						    <div>{{ form_row(form.importe, {'attr': {'class': 'form-control'}, 'label': 'Importe'}) }} 
						    
						    </div>
						    <div>
						    	
						    </div>
					</div>
			</div>
		    <div class="row">
		    	<div class="col-md-4">
			    	<div class="col-xs-12 ">
						<div>{{ form_row(form.nombre, {'attr': {'class': 'form-control'}, 'label': 'Nombre'}) }} </div>
					</div>
				</div>
				<div class="col-md-8">
					<div class="col-xs-12 ">
						<div>{{ form_row(form.apellidos, {'attr': {'class': 'form-control'}, 'label': 'Apellidos'}) }} </div>
					</div>
				</div>	
			</div>
				
			
			<div class="row">
		    	<div class="col-md-4" style="height: auto; overflow: auto;">
		    		<div class="col-xs-12 ">
		    			<div>{{ form_row(form.correoElectronico, {'attr': {'class': 'form-control'}, 'label': 'Correo electrónico'}) }} </div>
		    		</div>
		    		<div class="col-xs-12 ">
						<div>{{ form_row(form.documentoIdentidad, {'attr': {'class': 'form-control'},  'attr': {'placeholder': '77777777X' },'label': 'DNI (con letra) o NIE'}) }} </div>
					</div>
		    	</div>
		    	<div class="col-md-8 ">
		    		<div class="col-md-8 ">
		    			<div>{{ form_row(form.direcccion, {'attr': {'class': 'form-control'}, 'label': 'Dirección'}) }} </div>
		    		</div>
		    		<div class="col-md-4">
						<div>{{ form_row(form.codigoPostal, {'attr': {'class': 'form-control'}, 'label': 'Código postal'}) }} </div>
		    		</div>
		    		<div class="col-md-8">
		    			<div>{{ form_row(form.municipio, {'attr': {'class': 'form-control'}, 'label': 'Municipio'}) }} </div>
		    		</div>
		    		<div class="col-md-4">
						<div>{{ form_row(form.provincia, {'attr': {'class': 'form-control'}, 'label': 'Provincia'}) }} </div>
		    		</div>
		    		<div class="col-md-8">
						<div>{{ form_row(form.pais, {'attr': {'class': 'form-control'}, 'label': 'País'}) }} </div>
					</div>				
		    	</div>
			</div>	
			<div class="row" style="margin-top:40px;">
				<div class="col-md-10 col-md-offset-1">
					<div id="legal">
						<h2>CONDICIONES GENERALESS </h2>
						<h3>Relación entre Ahora Madrid y el colaborador o colaboradora</h3>
<p>
La realización de donaciones económicas no implica la vinculación del colaborador con Ahora Madrid ni le confiere la condición legal de socio, afiliado o simpatizante. Tampoco queda obligado por sus estatutos y demás normas internas. Conforme a lo dispuesto en la ley orgánica 1/2002, de 22 de marzo, reguladora del derecho de asociación, la ley orgánica 8/2007, de 4 de julio, de financiación de partidos políticos su donativo tendrá la consideración de “donación privada”, distinta de las cuotas de socios, afiliados o simpatizantes. 
</p>
<p> 
						<h3>Protección de datos de carácter personal</h3>
<p>
Ahora Madrid, de acuerdo con la ley orgánica 15/1999 de protección de datos de carácter personal, le informa de que sus datos serán incorporados al fichero “Elecciones 2015”, del que es responsable Ahora Madrid, que los utilizará para tramitar su colaboración, gestionar los adeudos bancarios, cumplir con la normativa de financiación de asociaciones y partidos políticos y para fines estadísticos. Para ejercer sus derechos de acceso, rectificación, cancelación u oposición, puede mandar un correo electrónico a donaciones@ahoramadrid.org, adjuntando una copia de su documento nacional de identidad.
</p>

					</div>
				</div>
				<div class="col-md-10 col-md-offset-1">
					<div class="checkbox_acepto acepto1">
					    <label>
					      	<input type="checkbox"> Acepto las condiciones generales
					    </label>
					 </div>	
					 <div class="checkbox_acepto acepto2">
					    <label>
					      	<input type="checkbox"> Declaro que en la actualidad soy mayor de 18 años.
					    </label>
					 </div>			
				</div>
			</div>		
			<div class="row">
				<div class="col-md-10 col-md-offset-1" style="text-align:center; margin-bottom:40px; padding-top:20px">
					<a href="javascript:;" class="btn btn-default disabled" id="send-dummy"> Debes confirmar las dos clásulas de arriba para terminar</a>  
					{{ form_end(form) }}
				</div>
			</div>
		</div>	                    	
	</div>
 </div>
               
<script>
{% if totalRecibidos %}
	recibido={{ totalRecibidos }}
{% else %}	
recibido=0;
{% endif %}	

var restante={{ campania.objetivo}}-recibido
if(restante<0) restante=0;

 var data = [
   {
        value: recibido,
        color: "#00A48C",
        highlight: "#5AD3D1",
        label: "Recibido"
    },
    {//Aquí hay que poner el valor total
        value: restante,
        color:"#4A4A4A",
        highlight: "#9A9A9A",
        label: "Restante"
    },
]
if(data[0].value > 0){
	var ctx = $("#chart1").get(0).getContext("2d");
	var myDoughnutChart = new Chart(ctx).Pie(data,options);
	//$('#info-donaciones').empty().html("*Datos de transferencias completadas con éxito")
}
else{
	$('#info-donaciones').empty().html("*(los datos de donaciones recibidas se actualizarán en breve)")
}

</script>

{% endblock %}
