{% extends 'AhoraMadridDonacionesBundle::layout.html.twig' %}

{% block body %}
 <div class="main-container">       
 			<div id="page1">
                <div class="container">
                    <div class="row" style="margin-top: 1% " >                       
                        <div class="col-md-2  col-xs-3 ">
                        <img src="{{ asset('bundles/ahoramadriddonaciones/images/ahoraMadrid_logo_blanco.png') }}" class="img-responsive">
                        </div>
                    </div>
                    <div class="row" style="margin-top: 0%" >                       
                        <div class="col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2">
                        	<h1 style="margin-top:0px; line-height:1.2em">Donaciones</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="videowrapper">
				<iframe width="1280" height="720" src="https://www.youtube.com/embed/SUfn0cKh9K8" frameborder="0" allowfullscreen></iframe>
                            </div>   

                        </div>
                    </div>
                    <div class="row" style="margin-top: 1%" > 
						<div class="col-md-8 col-md-offset-2">
                        	<p class="ubuntu"> 
                        		<small>
                        			Tenemos la mejor candidatura para cambiar Madrid. </br>
											¿Nos ayudas a que toda la ciudadanía la conozca?
								</small>
                        	</p>
                        	
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px; text-align:center" > 
			<div class="col-md-8 col-md-offset-2">
				<a href="{{ path('donaciones_formulario') }}" class="btn btn-default">¡Fináncianos!</a>
			</div>
		    </div>
                    <div class="row" style="margin-top:30px; text-align:center" id="row-donaciones"> 
                        <div class="col-md-4 col-md-offset-2">
                            <p style="text-align:right; margin-top: 20px; padding-top:0px; color: #333; font-size:18px; font-family: 'open sans'" >
                                Fase {{ campania.fase }}. Objetivo {{ campania.objetivo|number_format(0, ',', '.') }} €<br/>
<strong>Préstamos recibidos: {{ totalRecibidos|number_format(0, ',', '.') }} €</strong><br/>
<small>*transferencias recibidas y aprobadas  </small>
                                
                            </p>
                            
                        </div>
                        <div class="col-md-4 ">
                            <canvas id="chart1" width="160" height="160" style="width: 160px; height: 160px;"></canvas>
                        </div>
                    </div>
                    <div class="row m1" style="margin-top:4% " >                       
                        <div class="col-md-8 col-md-offset-2">
                        	<p class="ubuntu"><strong>Ahora Madrid</strong> es una  candidatura ciudadana para recuperar la ciudad de Madrid. Para poder  financiarnos en la recta final hasta las elecciones no queremos depender del dinero de los bancos. Preferimos depender de la gente que  cree que las cosas pueden ser de otra manera. 
                        	<br/>
				Por eso necesitamos tu ayuda para sostener una campaña electoral potente e independiente.
                        	</p>
                        </div>
                    </div>
       
					<div class="row" style="margin-top:100px; text-align:center" > 
						<div class="col-md-8 col-md-offset-2">
							<a href="#page-faq" class="">¿Quieres saber más sobre las donaciones? </br>
								<i class="fa fa-angle-double-down  fa-2x"></i>
							</a>
						</div>
					</div>
                </div>
             </div>  
             <div id="page-faq">
                <div class="container">
                    	<div class="col-md-8 col-md-offset-2">
                    		<h2> ¿Por qué necesitamos donaciones? </h2>
                    		<p>La financiación de un partido político es un asunto delicado, especialmente si se trata de un partido nuevo y que amenaza el poder de aquellos partidos que, hasta ahora, vienen gestionando los recursos públicos de la forma en que conocemos. Además, está comprobado que depender de quienes tradicionalmente adelantan dinero (los bancos) produce relaciones clientelares que afectan de forma perversa a la toma de decisiones. 
				</br>
				Dicho <i>en plat</i>a: no tenemos dinero porque somos un partido pequeño y nuevo, y no queremos pedírselo a los bancos para no comprometer nuestro programa de gobierno.
				</p>
                    	</div>
                    	<div class="col-md-8 col-md-offset-2">
                    		<h2> ¿A qué se va dedicar tu dinero? </h2>
                    		<p>Actualmente, en Ahora Madrid contamos con un increíble equipo de gente voluntaria que hace todo tipo de tareas: desde el diseño y la programación de esta web hasta la logística de los actos en los distritos (solicitar permisos, colocar las sillas de tijera para el vecindario...) pasando por tuits, notas de prensa, streamings, carteles, vídeos de campaña, argumentarios para las candidatas y un de veras largo etcétera. Hace poco, gracias a la ca href="http://financia.ahoramadrid.org/" target="_blank">campaña de microcrédito</a>s hemos conseguido juntar para pagar un salario a cinco de estas personas voluntarias.
				</br>
				Sin embargo, una campaña electoral comporta muchos otros gastos: queremos imprimir miles de carteles y de octavillas, que además queremos repartir por los buzones de la ciudad, queremos grabar cuñas de radio y de tele (es importante que estemos, por ejemplo, en la tele del metro), queremos promocionar posts de facebook, necesitamos conexión a internet en la oficina y fuera, queremos que en los actos de los distritos haya sillas y sonido y sombra y agua...
				</br>
				Todo esto, sin tu ayuda, es imposible.
				</p>
                    	</div>
                    	<div class="col-md-8 col-md-offset-2">
                    		<h2> ¿Necesito realizar un pago por internet? </h2>
                    		<p>No, en esta web sólo registras tus datos personales previamente al pago. El ingreso real lo realizas por transferencia bancaria, de la forma en la que tú hagas normalmente tus  operaciones bancarias (por internet o acudiendo a tu oficina bancaria).
				</p>
                    	</div>
                    	<div class="col-md-6 col-md-offset-3">                    		
                    		<p style="margin-top:4em;"> <small>
                    				Tenemos la mejor candidatura para cambiar Madrid. <br/>
									Con eelapoyo ciudadano queremos hacer de Madrid en la capital del cambio.								
								</small>
								<br/>
								<br/>
								<a href="{{ path('donaciones_formulario') }}" class="btn btn-default">¡Fináncianos!</a>
                    		</p>
                    	</div>
                 </div>
			</div>   
	
<script>
{% if totalRecibidos %}
    recibido={{ totalRecibidos }}
{% else %}  
recibido=0;
{% endif %} 
var restante={{ campania.objetivo}}-recibido
if(restante<0) restante=0;
 var data = [
   {
        value: recibido,
        color: "#55B8AA",
        highlight: "#55E8AA",
        label: "Recibido"
    },
    {//Aqui hay que poner el valor que falta 
        value: restante,
        color:"#4A4A4A",
        highlight: "#9A9A9A",
        label: "Restante"
    },
]

if(data[0].value > 0){
    var ctx = $("#chart1").get(0).getContext("2d");
    var myDoughnutChart = new Chart(ctx).Pie(data,options);
    //$('#info-donaciones').empty().html("*Datos de transferencias completadas con ©xito")
}
else{
    $('#row-donaciones').hide()
}

</script>
	
{% endblock %}
