{% extends 'AhoraMadridAdminBaseBundle::layout_admin.html.twig' %}

{% block body %}

	{% for flashMessage in app.session.flashbag.get('mensaje') %}
        <p>{{ flashMessage }}</p>
    {% endfor %}
    
    <h2>Modificar campaña de microcréditos</h2>
    
    {{ form_start(form, {'attr': {'role': 'form', 'id': 'formCampaniaMicrocreditos'}}) }}
    {{ form_errors(form) }}
		<div class="row">
			<div class="col-md-4">
				<div class="col-xs-12 ">
					<div>{{ form_row(form.finalidad, {'attr': {'class': 'form-control'}, 'label': 'Finalidad'}) }} </div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="col-xs-12 ">
					<div>{{ form_row(form.concepto, {'attr': {'class': 'form-control'}, 'label': 'Concepto'}) }} </div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="col-xs-12 ">
					<div>{{ form_row(form.objetivo, {'attr': {'class': 'form-control'}, 'label': 'Objetivo'}) }} </div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="col-xs-12 ">
					<div>{{ form_row(form.fase, {'attr': {'class': 'form-control'}, 'label': 'Fase'}) }} </div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="col-xs-12 ">
					<div>{{ form_row(form.activa, {'attr': {'class': 'form-control'}, 'label': 'Activa'}) }} </div>
				</div>
			</div>
		</div>
	{{ form_end(form) }}
    
{% endblock %}