{% block body %}
	<h2>Detalle de la inscrita</h2> 
	<table id="listadoCreditos" class="table table-striped ">

        <tr>
            <th>Campo</th>
            <th>Valor</th>
        </tr>
        
        <tr>
            <td>Distrito</td><td>{{ inscrito.distrito.descripcion }}</td>
        </tr>
        <tr>
            <td>Nombre</td><td>{{ inscrito.nombre }}</td>
        </tr>
        <tr>
            <td>Apellidos</td><td>{{ inscrito.apellidos }}</td>
        </tr>
        <tr>
            <td>Documento</td><td>{{ inscrito.documentoIdentidad }}</td>
        </tr>
        <tr>
            <td>Teléfono</td><td>{{ inscrito.telefono }}</td>
        </tr>
        <tr>
            <td>Profesión</td><td>{{ inscrito.profesion }}</td>
        </tr>
        <tr>
            <td>Aprobada</td><td>{% if inscrito.aprobada %}SI{% else %}NO{% endif %}</td>
        </tr>
        <tr>
            <td>Correo</td><td>{{ inscrito.correoElectronico }}</td>
        </tr>
        <tr>
            <td>Dirección</td><td>{{ inscrito.direcccion }}</td>
        </tr>
        <tr>
            <td>Edad</td><td>{{ inscrito.edad }}</td>
        </tr>
        <tr>
            <td>Nacionalidad</td><td>{{ inscrito.nacionalidad }}</td>
        </tr>
        <tr>
            <td>Experiencia previa</td><td>{{ inscrito.experienciaPrevia }}</td>
        </tr>
        <tr>
            <td>Escaneado</td><td><a href="{{ asset(inscrito.webPath) }}">Ver</a></td>
        </tr>

    </table>
<div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
    
{% endblock %}